<h1>Questions#ask</h1>

<form action="/answer" class="form-inline">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>



<p>Find me in app/views/questions/ask.html.erb</p>
